<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Document</title>
  <style>
      .title
      {
        font-size: 1000px;
      }
  </style>
</head>
<body>
  <form method="post"><!-- Action? -->
    <div class="container" style="text-align: center">
        <p><strong>Fr. Conceicao Rodrigues College of Engineering</strong></p>
        <p>Department of Computer Engineering</p>
        <p><strong>Academic year &ndash; 2018-19</strong></p>
        <p><strong><u>Term work</u></strong></p>
        <p><strong>Class/Sem- B.E Computer Engineering/VII </strong></p>
    </div>
    
        <br>
    <div class="container" style="background-color: white">
        <table width="107%" class="table table-bordered">
        <tbody>
        <tr>
        <td rowspan="2" width="5%">
        <p><strong>Sr. No</strong></p>
        </td>
        <td rowspan="2" width="13%">&nbsp;</td>
        <td width="9%">
        <p><strong>Use of Software Engineering Techniques</strong></p>
        </td>
        <td width="8%">
        <p><strong>Breadth and depth of Literature Survey</strong></p>
        </td>
        <td width="8%">
        <p><strong>Theoretical Analysis of proposed problem</strong></p>
        </td>
        <td colspan="3" width="7%">
        <p><strong>Design/Methodology</strong></p>
        </td>
        <td width="8%">
        <p><strong>Presentation of contents</strong></p>
        </td>
        <td width="8%">
        <p><strong>Report writing</strong></p>
        </td>
        <td width="6%">
        <p><strong>Total (A)</strong></p>
        </td>
        <td width="13%">
        <p><strong>Name and sign </strong></p>
        </td>
        </tr>
        <tr>
        <td width="9%">
        <p><strong> 06M</strong></p>
        </td>
        <td width="8%">
        <p><strong>07M</strong></p>
        </td>
        <td width="8%">
        <p><strong>08M</strong></p>
        </td>
        <td colspan="2" width="6%">
        <p><strong>08M</strong></p>
        </td>
        <td colspan="2" width="8%">
        <p><strong>5M</strong></p>
        </td>
        <td width="8%">
        <p><strong>6M</strong></p>
        </td>
        <td width="6%">
        <p><strong>40M</strong></p>
        </td>
        <td width="7%">
        &nbsp;
        </td>
        </tr>
        <tr> 
        <td width="5%">
        <p>1</p>
        </td>
        <td width="13%">
        <p><strong><u>Title of the project :</u></strong></p>
        </td>
        <td class="title1" colspan="10" rowspan="2" width="67%">{{title}}</td><!--{{title}}-->
        </tr>
        <tr>
        <td width="5%">
        <p></p>
        </td>
        <td width="13%">
        <p><strong>Student Roll No</strong></p>
        </td>
        </tr>
        <tr>
        <td width="5%">&nbsp;</td>
        <td width="13%">{{grpno}}</td>
        <td width="9%">
            <select name="co1_1" id="co1_1" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </td><!--{{co1_1}}-->
        <td width="8%">
            <select name="co2_1" id="co2_1" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </td><!-- {{co2_1}} -->
        <td width="8%">
            <select name="co3_1" id="co3_1" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </td>
        <td width="6%">
            <select name="co4_1" id="co4_1" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </td>
        <td colspan="3" width="9%">
            <select name="co5_1" id="co5_1" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </td>
        <td width="8%">
            <select name="co6_1" id="co6_1" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </td>
        <td width="6%">{{total1}}</td>
        <td rowspan="3" width="13%">&nbsp;</td>
        </tr>
        <tr>
        <td width="5%">&nbsp;</td>
        <td width="13%">{{rno1}}</td>
        <td width="9%">
            <select name="co1_2" id="co1_2" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </td><!-- CO1_2 -->
        <td width="8%">
            <select name="co2_2" id="co2_2" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </td>
        <td width="8%">
            <select name="co3_2" id="co3_2" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </td>
        <td width="6%">
            <select name="co4_2" id="co4_2" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </td>
        <td colspan="3" width="9%">
            <select name="co5_2" id="co5_2" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </td>
        <td width="8%">
            <select name="co6_2" id="co6_2" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </td>
        <td width="6%">{{total2}}</td>
        </tr>
        <tr>
        <td width="5%">&nbsp;</td>
        <td width="13%">{{rno2}}</td>
        <td width="9%">
            <select name="co1_3" id="co1_3" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </td><!-- CO1_2 -->
        <td width="8%">
            <select name="co2_3" id="co2_3" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </td>
        <td width="8%">
            <select name="co3_3" id="co3_3" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </td>
        <td width="6%">
            <select name="co4_3" id="co4_3" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </td>
        <td colspan="3" width="9%">
            <select name="co5_3" id="co5_3" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </td>
        <td width="8%">
            <select name="co6_3" id="co6_3" selected="selected">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </td>
        <td width="6%">{{total3}}</td>
        </tr>
        
        </tbody>
        </table>
        </div>
        <div class="container">  <!-- make this to the center -->
            <button class="btn btn-primary" style="align-content: center;" type="submit">Submit</button>
        </div>
    </form>

    <!-- To be tested -->
    <script type="text/javascript">
    
    $(function(){
        $("#co1_1").val({{co1_1}}).attr("selected","selected");
    });
    </script>

    <script type="text/javascript">
    $(function(){
        $("#co2_1").val({{co2_1}}).attr("selected","selected");
    });
    </script>

    <script>
    $(function(){
        $("#co3_1").val({{co3_1}}).attr("selected","selected");
    });
    </script>
    <script>
    $(function(){
        $("#co4_1").val({{co4_1}}).attr("selected","selected");
    });
    </script>
    <script>
    $(function(){
        $("#co5_1").val({{co5_1}}).attr("selected","selected");
    });
    </script>
    <script>
    $(function(){
        $("#co6_1").val({{co6_1}}).attr("selected","selected");
    });
    </script>

    <script>
    $(function(){
        $("#co1_2").val({{co1_2}}).attr("selected","selected");
    });
    </script>
    <script>
    $(function(){
        $("#co2_2").val({{co2_2}}).attr("selected","selected");
    });
    </script>
   <script>
        $(function(){
            $("#co3_2").val({{co3_2}}).attr("selected","selected");
        });
    </script>

    <script>
        $(function(){
            $("#co4_2").val({{co4_2}}).attr("selected","selected");
        });
    </script>
   <script>
        $(function(){
            $("#co5_2").val({{co5_2}}).attr("selected","selected");
        });
    </script>
    <script>
        $(function(){
            $("#co6_2").val({{co6_2}}).attr("selected","selected");
        });
    </script>


   <script>
        $(function(){
            $("#co1_3").val({{co1_3}}).attr("selected","selected");
        });
    </script>
   <script>
        $(function(){
            $("#co2_3").val({{co2_3}}).attr("selected","selected");
        });
    </script>
    <script>
        $(function(){
            $("#co3_3").val({{co3_3}}).attr("selected","selected");
        });
    </script>
    <script>
        $(function(){
            $("#co4_3").val({{co4_3}}).attr("selected","selected");
        });
    </script>
    <script>
        $(function(){
            $("#co5_3").val({{co5_3}}).attr("selected","selected");
        });
    </script>
    <script>
        $(function(){
            $("#co6_3").val({{co6_3}}).attr("selected","selected");
        });
    </script>

</body>
</html>

