<!-----Teacher Page----->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <!--Bootstrap libraries-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--customised libraries-->
    {{!-- <link rel="stylesheet" type="text/css" style="css/style.css"> --}}
    <link rel="stylesheet" type="text/css" style="css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="part1" style="padding-bottom: 5rem">
<h1>
  WELCOME {{teacher}}
</h1>
<p>
  Be good to students and give them good grades!!
</p>

    {{!-- <div class="container" style="text-align: center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Add Group Title</button>
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Group Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/{{teacher}}/">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1" style="color:black">Group Leader Roll Number</label>
                                <input class="form-control" id="exampleFormControlSelect1" type='text' name="leader_rno">
                                </input>
                            </div>        
                            <div class="form-group">
                                <label for="exampleFormControlSelect2" style="color: black">Project Title</label>
                                <input class="form-control" id="exampleFormControlSelect2" type='text' name="title">
                                </input>
                            </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="ADD" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div> --}}

    <div class="container" style="text-align: center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Add Group</button>
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" style="color: black">Member-1</label>
                            <input class="form-control" id="exampleFormControlSelect1" type='text' name="g_m_1">
                            </input>
                        </div>        
                        <div class="form-group">
                            <label for="exampleFormControlSelect2" style="color: black">Member-2</label>
                            <input class="form-control" id="exampleFormControlSelect2" type='text' name="g_m_2">
                            </input>
                        </div> 
                        <div class="form-group">
                            <label for="exampleFormControlSelect3" style="color: black">Member-3</label>
                            <input class="form-control" id="exampleFormControlSelect3" type='text' name="g_m_3">
                            </input>
                        </div> 
                        <div class="form-group">
                            <label for="exampleFormControlInput1" style="color: black">Project Title</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Project title" name="title"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" style="color: black">Group Mentor</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{teacher}}" placeholder="Group mentor" name="gpmn"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="ADD" />
                    </div>
                </div>
            </div>
        </div>
    </div>
<main>
  <div class="container">
    {{#if listExists}}
  <table id="table">
    <thead>
        <tr><th>GRP NO</th><th>TITLE</th><th>Member-1</th><th>Member-2</th><th>Member-3</th><th>Fill Forms</th><th>Details</th></tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan='3'>
          Year: 2018-19
        </th>
      </tr>
    </tfoot>
    <tbody>
        {{#each rows}}
        <tr>
            <td data-title='GRP NO'>{{this.grpno}}</td>
            <td data-title='TITLE'>{{this.title}}</td>
            <td data-title='Member-1'>{{this.rno}}</td>
            <td data-title='Member-2'>{{this.rno1}}</td>
            <td data-title='Member-3'>{{this.rno2}}</td>
            <td class='select'>
                <a class='button'>
                    Fill Forms
                </a>
            </td>
            <td><a class='button' href="">
                Reports
            </a></td>


            <div class='detail'>
    <div class='detail-container'>
      <dl>
        <h1>Select Form for group no.:{{this.grpno}}!!</h1>
        <dd></dd>
        <dt>
          <section class="col-lg-12 row cen">
            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-laptop-phone"></div>
            <button class="btn first" onclick="term_7({{this.rno}})">7th Sem Term Work</button>
            </div>

            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-volume-medium"></div>
            <button class="btn first" onclick="Oral_7(this.rno)">7th Sem Orals</button>
            </div>
          </section>  
        </dt>
        <dd>
           
        </dd>
        <dt>
          <section class="col-lg-12 row cen">
            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-laptop-phone"></div>
            <button class="btn first" onclick="term_8(this.rno)">8th Sem Term Work</button>
            </div>

            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-volume-medium"></div>
            <button class="btn first" onclick="Oral_8(this.rno)">8th Sem Orals</button>
            </div>
          </section>
        </dt>
        <dd>
          
        </dd>
        <dt>
          <section class="col-lg-12 row cen">
            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-laptop-phone"></div>
            <button class="btn first" onclick="term_final(this.rno)">Final Term Work</button>
            </div>

            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-volume-medium"></div>
            <button class="btn first" onclick="Oral_final(this.rno)">Final Orals</button>
            </div>
          </section>
        </dt>
      </dl>
    </div>
          <style>  </style>
    <div class='detail-nav'>
      <button class='close' style="background: none;
    padding: 18px;
    color: #fff;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    line-height: 1;
    font-size: 1.8rem;
    position: fixed;
    right: 40px;
    top: 20px;
    -moz-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    transition: border 0.3s linear;">
        Close
      </button>
    </div>
  </div>
  <div class='report'>
    <div class='report-container'>
      <dl>
        <h1>Select Form for group no.:{{this.grpno}}!!</h1>
        <dd></dd>
        <dt>
          <section class="col-lg-12 row cen">
            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-laptop-phone"></div>
            <button class="btn first" onclick="term_7({{this.rno}})">7th Sem Term Work</button>
            </div>

            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-volume-medium"></div>
            <button class="btn first" onclick="Oral_7(this.rno)">7th Sem Orals</button>
            </div>
          </section>  
        </dt>
        <dd>
           
        </dd>
        <dt>
          <section class="col-lg-12 row cen">
            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-laptop-phone"></div>
            <button class="btn first" onclick="term_8(this.rno)">8th Sem Term Work</button>
            </div>

            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-volume-medium"></div>
            <button class="btn first" onclick="Oral_8(this.rno)">8th Sem Orals</button>
            </div>
          </section>
        </dt>
        <dd>
          
        </dd>
        <dt>
          <section class="col-lg-12 row cen">
            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-laptop-phone"></div>
            <button class="btn first" onclick="term_final(this.rno)">Final Term Work</button>
            </div>

            <div class="col-lg-6 col-sm-6"  data-aos="fade-up">
            <div class="lnr lnr-volume-medium"></div>
            <button class="btn first" onclick="Oral_final(this.rno)">Final Orals</button>
            </div>
          </section>
        </dt>
      </dl>
    </div>
    <div class='report-nav'>
      <button class='close' style="background: none;
    padding: 18px;
    color: #fff;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    line-height: 1;
    font-size: 1.8rem;
    position: fixed;
    right: 40px;
    top: 20px;
    -moz-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    transition: border 0.3s linear;">
        Close
      </button>
    </div>
  </div>
</main>
</div>
        </tr>
        {{/each}} 
    </tbody>
  </table>
    {{/if}}
</div>

  

  

<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Here i am</h2>
    <a class="closex" href="#">&times;</a>
    <div class="content">
      <button  id="7term" onclick="term_7({{this.grpno}})" class="btn btn-secondary" style="color:#e74c3c">{{this.rno}}</button>
    </div>
  </div>
</div>
</body>
<script>

  
  function table_row(rno){
      console.log('7th term was clicked....')
      try{
          window.location.assign(rno)
      
          console.log('Page loaded....')
      }
      catch (ex)
      {
          console.log(`Something wrong happend ${ex}`);
      }
      finally 
      {
          console.log("7th term action done!!!!")  ;  
      }
  }
  
  function term_7(rno){
  console.log(" hi thhis");
      console.log('7th term was clicked....')
      try{
          window.location.assign("{{teacher}}/"+rno+"/7term")
      
          console.log('Page loaded....')
      }
      catch (ex)
      {
          console.log(`Something wrong happend ${ex}`);
      }
      finally 
      {
          console.log("7th term action done!!!!")  ;  
      }
  }

  function formClick(rno){
      console.log('Fill form for '+rno+' was clicked....')
      try{
          window.location.assign("{{teacher}}/"+rno)
      
          console.log('Page loaded....')
      }
      catch (ex)
      {
          console.log(`Something wrong happend ${ex}`);
      }
      finally 
      {
          console.log("7th term action done!!!!")  ;  
      }
  }

  $('.button, .close').on('click', function(e) {
      e.preventDefault();
      $('.detail, html, body').toggleClass('open');
  });

  $('.button, .close').on('click', function(e) {
    e.preventDefault();
    $('.fillforms, html, body').toggleClass('open');
  });

    </script>
</html>